apiVersion: apps/v1
kind: Deployment
metadata:
 name: grafana-web
spec:
 replicas: 1
 selector:
   matchLabels:
     app: grafana-web
 template:
   metadata:
     labels:
       app: grafana-web
   spec:
     containers:
       - name: grafana-web
         image: grafana/grafana-enterprise:12.3.3
         ports:
           - containerPort: 3000
         env:
           - name: GF_SERVER_DOMAIN
             value: grafana.xyz.abc
           - name: GF_SERVER_ROOT_URL
             value: http://grafana.xyz.abc
           - name: GF_SERVER_SERVE_FROM_SUB_PATH
             value: "true"
           #- name: GF_PLUGINS_PREINSTALL
           #  value: grafana-clock-panel
         volumeMounts:
           - name: data-volume
             mountPath: /var/lib/grafana
             readOnly: false
     dnsPolicy: "None"
     dnsConfig:
       nameservers:
         - 9.9.9.9
         - 192.192.188.1
     volumes:
       - name: data-volume
         persistentVolumeClaim:
           claimName: grafana-data-pvc