apiVersion: v1
kind: PersistentVolume
metadata:
 name: grafana-data-pv
spec:
 capacity:
   storage: 20Gi
 accessModes:
   - ReadWriteOnce
 persistentVolumeReclaimPolicy: Retain
 nfs:
   server: nfs.smb.com
   path: /mnt/ssd/hdd/grafana
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
 name: grafana-data-pvc
spec:
 accessModes:
   - ReadWriteOnce
 resources:
   requests:
     storage: 20Gi
 volumeName: grafana-data-pv